{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
   <h1>Bienvenido a CUBRECOB</h1>
      <div class="row">
         <div class="col">
            <form>
               <a href="{{ url_for('about') }}">
                  <input type="button" class="btn" value="Iniciar sesión">
               </a>
                 
               <a href="{{ url_for('registrar') }}">
                  <input type="button" class="btn" value="Registrarse">
               </a>  
             
               <a href="{{ url_for('productos') }}">
                  <input type="button" class="btn" value="Productos">
               </a>  
            </form>
         </div>
      </div>
        
</div> 

{% endblock %}
